@{
    var isPublished = Blog.CurrentPost != null && Blog.CurrentPost.IsPublished;
    var path = !string.IsNullOrWhiteSpace(Blog.BlogPath) ? "/" + Blog.BlogPath : "";
}

<nav id="admin" data-role="editor-toolbar" class="navbar navbar-default navbar-fixed-top" data-ispublished="@isPublished" data-blog-path="@path">
    <div class="navbar-inner">
        <ul class="nav navbar-nav">
            <li><button onclick="location.href='@path/post/new/'" class="btn btn-link" id="btnNew">New post</button></li>
            <li><button onclick="location.href='@path/post/@Blog.CurrentSlug?mode=edit'" class="btn btn-link" id="btnEdit" disabled>Edit</button></li>
            <li><button class="btn btn-link" id="btnDelete" disabled>Delete</button></li>
            <li><button class="btn btn-link" id="btnSave" disabled>Save</button></li>
            <li><button class="btn btn-link" id="btnCancel" disabled>Cancel</button></li>
            <li id="ispublished">
                <input type="checkbox" id="chkispublished" checked="@(isPublished ? "checked" : null)" disabled />
                <label for="chkispublished">Publish</label>
            </li>
        </ul>

        <div id="tools">

            <div class="btn-group">
                <a class="btn btn-mini source" data-cmd="source" title="Toggle edit/preview"><i class="glyphicon glyphicon-eye-open"></i></a>
            </div>

        </div>
    </div>

    <form action="@FormsAuthentication.LoginUrl" method="post">
        <input type="hidden" name="signout" value="true" />
        <input type="hidden" name="returnUrl" value="@HttpUtility.HtmlEncode(Request.RawUrl)" />
        <button type="submit" title="Signed in as @User.Identity.Name" class="btn btn-link pull-right">
            Sign out &nbsp;<span class="glyphicon glyphicon-log-out"></span>
        </button>
    </form>

    <aside>
        <p class="alert"></p>
    </aside>
</nav>

@if (!string.IsNullOrEmpty(Blog.CurrentSlug))
{
    <script src="@Blog.FingerPrint("/scripts/jquery-2.1.4.js", "//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")"></script>
    <script src="@Blog.FingerPrint("/scripts/bootstrap.min.js", "//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")"></script>
    <script src="@Blog.FingerPrint("/scripts/commonmark.js")"></script>
    <script src="@Blog.FingerPrint("/scripts/admin.js")" defer></script>
}
